body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-image: url('water.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat;
}

p {
    font-size: larger;
    font-weight: bolder;
}

canvas {
    width: 100%;
    height: auto;
}


#game-area {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 80px;
    height: 50px;
    font-size: 18px;
    margin: 10px;
    touch-action: manipulation;
}


#basket {
    position: absolute;
    bottom: -5px;
    left: 200px;
    width: 80px;
    height: 80px;
}

#falling-cat {
    position: absolute;
    top: 0;
    left: 60%;
    width: 80px;
    height: 80px;
}

#falling-dog {
    position: absolute;
    top: 0;
    left: 60%;
    width: 80px;
    height: 80px;
}
